.errorField{
    border: 5px solid red;

}

.ui.form input.errorField{
    border: 1px solid red;
    background-color: aqua
}

.ui.form .field.error label.input__label--errorMessage{
    
   font-weight: var(--input-errorMessage-font-weight);
   /* background-color : var(--errorColor); */
}
.errorM{
    font-weight: var(--input-errorMessage-font-weight) !important; ;
    background-color : var(--errorColor) !important; 
}

/* .ui.form .field.error .input, .ui.form .field.error label,
 .ui.form .fields.error .field .input, .ui.form .fields.error .field label {
    color: #9f3a38;
} */