.dropZone-wrapper  {
    max-width: 100%;
    /* height: 440px; */
    height: 32em;
    outline: none;
    /* border-width: 2px; */
    /* border-color: #dededf;
    border-style: dashed;
    background: black;
    border-radius: 5px; */
    display: flex;
    flex-direction: column;
}

.dropZone-wrapper__dropzone{
    display: flex;
     align-items: center;
      height: 32em
}
  .dropZone-wrapper label {
    color:#53c8ff !important;
}


.dropImage2{
    text-align: center;
}

.dropImage__image2{
    max-height: 30em;
    max-width: 100%;
    padding: 5px ;
}