.thumb  {
    display: inline-flex;
    margin-left:.5em;
    position:relative;
    border: 1px solid #bfbfbf;
    background:white;
    padding: .4em;
    box-sizing: border-box;
}

.thumb__image{
 max-height: 4em;
}

.thumb__closeIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: white;
    padding: 5px 2px 2px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    opacity: .7;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

  .thumb__closeIcon:hover {
    opacity: 1;
}