html,
body {
  height: 100vh;
 background: #eee; /* bacground color for entire app */
}

div::-webkit-scrollbar-track {
  background:#eee; 
}

/* Global constants  */
:root{
  /* input field error message font size */
  --input-error-font-weight:500;
  --input-error-color:#9f3938;
  --font-size:1em;
  --input-error-font-size:.93em;
  --margin:1em;
  

  }
