html,
body {
  height: 100vh;
   /* bacground color for entire app */
 background: #eee;
 /* background: #ffff; */
 
}

div::-webkit-scrollbar-track {
  background:#eee; 
}

/* Global constants  */
:root{
  /* input field error message font size */
  --input-error-font-weight:500;
  --input-error-color:#9f3938;
  --font-size:1em;
  --input-error-font-size:.93em;
  --margin:1em;

  /* colors */
  /* this color is used for form fields labels. Its modified in semantic-ui.
  For own labels this color can be used to be consistent with form input labels */
  --label-color:#595959;
  

  }

 